# bun
.bun

# code directories
build
code

# fnm
.local/share/fnm

# landscape
.landscape

# motd
.motd_shown

# rust
.cargo
.rustup

# ssh
.ssh

# snap
snap

# sudo
.sudo_as_admin_successful

# XDG
.cache
.local/state
